@media only screen and (min-width:992px) {
    .wrapper {
        width: 100vw;
      }
     
      #header {
        max-width: 1310px;
        height: 167px !important;
        margin: 0 auto;
      }
     
      #topbar {
        max-width: 1310px;
        height: 95px !important;
        background: #f82011;
        margin: 0 auto;
        align-items: flex-end;
        padding-bottom: 15px;
      }
     
      #logo {
        background: url(../img/Newsweek_Logo.svg);
        background-size: cover;
        width: 396px;
        height: 82px;
      }
     
      #subscribe-button {
        color: #f82011;
      }
     
      .nav-link a {
        color: white !important;
        background: black;
      }
     
      .navbar-collapse {
        justify-content: center;
      }
     
      .nav-item a:hover {
        color: red !important;
      }
     
      .nav-item a {
        font-size: 1.2em;
        color: black !important;
        font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
      }
     
      /* =======================CONTAINER COLUMNS =========================== */
     
      #container-main {
        max-width: 1310px;
        padding-top: 22px;
      }
     
      .article-columns p {
        font-size: 100%;
        width: 100%;
      }
     
      .article-columns h4 {
        font-weight: bolder;
        text-transform: capitalize;
      }
     
      .article-columns h6 {
        text-transform: uppercase;
        color: gray;
      }
     
      .left-article {
        max-height: 164px;
        min-width: 246px;
      }
     
      #left-art-1 {
        width: 100%;
        height: 229px;
        background: url(../img/picture-1.jpg);
        background-size: cover;
      }
     
      #left-art-2 {
        width: 100%;
        height: 229px;
        background: url(../img/ele4.jpeg);
        background-size: cover;
      }
     
      #left-art-3 {
        width: 100%;
        height: 229px;
        background: url(../img/ele3.jpeg);
        background-size: cover;
      }
     
      #left-art-4 {
        width: 100%;
        height: 229px;
        background: url(../img/ele2.jpeg);
        background-size: cover;
      }
     
      #column-center {
        padding: 0;
        margin: 0 -20px;
        display: flex;
        flex-flow: column nowrap;
      }
     
      #center-art-1 {
        width: 100%;
        height: 387px;
        max-height: 281px;
        background: url(../img/center.jpeg);
        background-size: cover;
        min-width: 365px;
      }
     
      .center-related {
        padding: 10px 0;
        text-transform: capitalize;
        font-weight: bold;
      }
     
      .center-more-article {
        padding: 18px 0;
        display: flex;
        flex-flow: row nowrap;
      }
     
      .center-more-text {
        margin-left: 15px;
      }
     
      #center-more-pic1 {
        width: 135px;
        height: 90px;
        background: url(../img/img-1.jpg);
        background-size: cover;
      }
     
      #center-more-pic2 {
        width: 135px;
        height: 90px;
        background: url(../img/ce1.jpeg);
        background-size: cover;
      }
     
      #center-more-pic3 {
        width: 135px;
        height: 90px;
        background: url(../img/ce2.jpeg);
        background-size: cover;
      }
     
      #center-more-pic4 {
        width: 135px;
        height: 90px;
        background: url(../img/ce3.jpeg);
        background-size: cover;
      }
     
      #center-more-pic5 {
        width: 135px;
        height: 90px;
        background: url(../img/ce5.jpeg);
        background-size: cover;
      }
     
      #center-more-pic6 {
        width: 135px;
        height: 90px;
        background: url(../img/ce4.jpeg);
        background-size: cover;
      }
     
      #center-more-pic7 {
        width: 135px;
        height: 90px;
        background: url(../img/ce6.jpeg);
        background-size: cover;
      }
     
      #center-more-pic8 {
        width: 135px;
        height: 90px;
        background: url(../img/ce7.jpeg);
        background-size: cover;
      }
     
      #center-more-pic9 {
        width: 135px;
        height: 90px;
        background: url(../img/ce9.jpeg);
        background-size: cover;
      }
     
      #column-right {
        padding-left: 80px;
      }
     
      #column-right h6 {
        padding-top: 30px;
        font-weight: bold;
      }
     
      .center-article {
        margin: 0 -35px;
      }
     
      .column-left {
        padding-right: 15%;
      }
     
      .right-article {
        width: 100%;
        margin: 0 !important;
        display: flex;
        flex-flow: row nowrap;
        padding: 15px 0;
      }
     
      .right-text {
        width: 85%;
        margin-left: 15px;
        font-size: .9em;
        font-weight: bolder;
        text-transform: capitalize;
        line-height: 15px;
      }
     
      .right-picture {
        width: 63px;
        height: 63px;
        border-radius: 50%;
        background: url(../img/profile.jpg);
        background-size: cover;
      }
     
      .left-related {
        padding: 8px 0;
      }
     
      #latest-news-right {
        margin-top: 20px;
      }
     
      .right-picture-bottom {
        width: 135px;
        height: 90px;
      }
     
      #rb-1 {
        background: url(../img/rb-1.jpg);
        background-size: cover;
      }
     
      #rb-2 {
        background: url(../img/rb-2.jpg);
        background-size: cover;
      }
     
      #rb-3 {
        background: url(../img/rb-3.jpg);
        background-size: cover;
      }
     
      #rb-4 {
        background: url(../img/rb-4.jpg);
        background-size: cover;
      }
     
      #rb-5 {
        background: url(../img/rb-5.jpg);
        background-size: cover;
      }
     
      #rb-6 {
        background: url(../img/rb-6.jpg);
        background-size: cover;
      }
     
      #rb-7 {
        background: url(../img/rb-7.jpg);
        background-size: cover;
      }
     
      #rb-8 {
        background: url(../img/rb-2.jpg);
        background-size: cover;
      }
     
      /* ================== IN THE MAG SECTION ======================== */
     
      .in-the-mag-section {
        order: 3;
        justify-content: space-between;
        flex-flow: row wrap;
        width: 100%;
        margin-bottom: 40px;
      }
     
      .in-the-mag-art {
        width: 22%;
        height: auto;
      }
     
      .itm-red-title {
        background: #f82011;
        font-weight: bolder;
        color: white;
        font-size: 1em;
        padding: 3px;
      }
     
      .itm-pic {
        width: 100%;
        height: 290px;
        min-width: 163px;
        margin: 10px 0;
      }
     
      .itm-title {
        width: 100%;
        text-align: center;
        padding-top: 30px;
        color: black;
        font-size: 1.1em;
        font-weight: bolder;
      }
     
      #itm-1 {
        background: url(../img/mag1.jpeg);
        background-position: center;
      }
     
      #itm-2 {
        background: url(../img/mag2.jpeg);
        background-position: center;
      }
     
      #itm-3 {
        background: url(../img/mag3.jpeg);
        background-position: center;
      }
     
      #itm-4 {
        background: url(../img/mag4.jpeg);
        background-position: center;
      }
     
      #itm-5 {
        background: url(../img/mag5.jpeg);
        background-position: center;
      }
     
      #itm-6 {
        background: url(../img/mag6.jpeg);
        background-position: center;
      }
     
      #itm-7 {
        background: url(../img/mag7.jpg);
        background-position: center;
      }
     
      #itm-8 {
        background: url(../img/mag8.jpeg);
        background-position: center;
      }
     
      /* ============================= EDITOR'S PICK SECTION ============================ */
     
      .editors-pick-section {
        order: 5;
      }
     
      .editors-pick-section h6 {
        text-align: center;
        color: black;
        font-size: 1.1em;
        font-weight: bolder;
      }
     
      .editors-arts-container {
        flex-flow: row wrap;
      }
     
      .editors-art {
        width: 24%;
        height: auto;
      }
     
      .editor-art-image {
        max-height: 193px;
        min-width: 210px;
        min-height: 140px;
        margin: 10px 0;
      }
     
      #editor-art-1 {
        width: 100%;
        height: 193px;
        background: url(../img/ep1.jpeg);
        background-size: cover;
        background-position: center;
      }
     
      #editor-art-2 {
        width: 100%;
        height: 193px;
        background: url(../img/ep2.jpeg);
        background-size: cover;
        background-position: center;
      }
     
      #editor-art-3 {
        width: 100%;
        height: 193px;
        background: url(../img/ep3.jpeg);
        background-size: cover;
        background-position: center;
      }
     
      #editor-art-4 {
        width: 100%;
        height: 193px;
        background: url(../img/ep4.jpeg);
        background-size: cover;
        background-position: center;
      }
     
      #editor-art-5 {
        width: 100%;
        height: 193px;
        background: url(../img/ep5.jpeg);
        background-size: cover;
        background-position: center;
      }
     
      #editor-art-6 {
        width: 100%;
        height: 193px;
        background: url(../img/ep6.jpeg);
        background-size: cover;
        background-position: center;
      }
     
      #editor-art-7 {
        width: 100%;
        height: 193px;
        background: url(../img/ep7.jpeg);
        background-size: cover;
        background-position: center;
      }
     
      #editor-art-8 {
        width: 100%;
        height: 193px;
        background: url(../img/ep8.jpeg);
        background-size: cover;
        background-position: center;
      }
     
      /* ============================= FEATURING SECTION ============================ */
     
      #feat-slides {
        order: 5;
      }
     
      #feat-slides h6 {
        text-align: center;
        color: black;
        font-size: 1.1em;
        font-weight: bolder;
        margin-top: 30px;
      }
     
      #feat-slides h4 {
        color: black;
        font-size: 1.1em;
        font-weight: bolder;
      }
     
      .feat-content {
        flex-wrap: wrap;
      }
     
      .feat-article {
        width: 32%;
        height: auto;
      }
     
      .feat-art-image {
        max-height: 264px;
        min-width: 226px;
        min-height: 150px;
        margin: 10px 0;
      }
     
      #feat-art-1 {
        width: 100%;
        height: 264px;
        background: url(../img/f1.jpeg);
        background-size: cover;
        background-position: center;
      }
     
      #feat-art-2 {
        width: 100%;
        height: 264px;
        background: url(../img/f2.jpeg);
        background-size: cover;
        background-position: center;
      }
     
      #feat-art-3 {
        width: 100%;
        height: 264px;
        background: url(../img/f3.jpg);
        background-size: cover;
        background-position: center;
      }
     
      #feat-art-4 {
        width: 100%;
        height: 264px;
        background: url(../img/f4.jpeg);
        background-size: cover;
        background-position: center;
      }
     
      #feat-art-5 {
        width: 100%;
        height: 264px;
        background: url(../img/f5.jpeg);
        background-size: cover;
        background-position: center;
      }
     
      #feat-art-6 {
        width: 100%;
        height: 264px;
        background: url(../img/f6.jpeg);
        background-size: cover;
        background-position: center;
      }
     
      /* ==================== FOOTER ===================*/
     
      .footer {
        color: gray;
        max-width: 1310px;
        margin: 0 auto;
      }
     
      .footer-box {
        border-bottom: 1px solid #dee2e6;
      }
     
      #footer-img {
        background: url(../img/newsweek.png);
        background-size: cover;
        width: 200px;
        height: 36px;
        display: inline-block;
      }
     
      .brand {
        color: #f82011;
        font-size: 2.5em;
        font-weight: bolder;
        display: inline;
        font-family: 'Alfa Slab One', cursive;
      }
     
      #footer-p {
        display: inline-block;
        font-size: .8em;
      }
     
      #bottom-logo {
        display: inline;
      }
     
      .nav-link {
        font-size: .8em;
        margin-bottom: 0;
      }
     
      .separator {
        border-right: 1px solid #dee2e6;
      }
}